@import url('https://fonts.googleapis.com/css?family=Asap" rel="stylesheet');

body {
  margin: 0;
  padding: 0;

  font-family: "Asap", sans-serif;
}

/* Burger navigation */

header {
  width: 88%;
  margin: 2% auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #4887a2;
}

.burger-container {
  display: flex;
  justify-content: flex-end;
}

.burger-btn {
  display: block;
  z-index:10;
}

.bar1,
.bar2,
.bar3 {
  background: #4887a2;
  opacity: 1;

  height: 5px;
  width: 35px;

  margin: 6px 0 0;

  transition: all 0.4s;
}

.change1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background: #f35b5b;
}

.change2 {
  opacity: 0;
}

.change3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background: #f35b5b;
}

.city-list {
  width: 100%;
}

.city-list-ul {
  padding: 0;
  margin: 5% 5px;
}

.city-list-li {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  margin: 0 15px;
  font-size: 1.5em;
  background: none;
  border: none;
  color: #f35b5b;
  cursor: pointer;
}

.city-list-item {
  text-align: left;
  width: 100%;
  padding: 0 5px;
  border: none;
  background: none;
  color: #fff;

  font-size: 35px;
  transition: all 0.3s;
}
.city-list-item:focus {
  outline: none;
  border: none;
  background: #4887A2;
  color: #fff;

  font-size: 35px;
  transition: all 0.3s;
}

.city-list-button {
  margin: 5px 5px;
  width: 80%;
  height: 30px;

  border: none;
  background: #4887A2;
  color: #fff;
  font-size: 15px;
}

.city-list-input {
  margin: 0 5px;
  border: none;
  border-bottom: solid 2px #8B8B8B;
  color: #8B8B8B;
  font-size: 20px;

  background: none;

  height: 50px;
  width: 80%;
  transition: all 0.2s;
}
.city-list-input:focus {
  outline: none;
  border-bottom: solid 2px #4887A2;

  transition: all 0.2s;
}

/* --- City navigation list --- */

.city-menu {
  position: absolute;
  top: 0;
  left: -100%;

  width: 100%;
  height: 100%;
  background: #4D4D4D;

  transition: all 0.4s;
}

.city-menu-toggled {
  left: 0 !important;
  transition: all 0.4s;
}

/* --- Current Day Container --- */

.currentDay-container {
  width: 88%;
  height: 240px;

  border-radius: 10px;
  margin: 25px auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin: 3px 0 0 10px;
  width: 100%;

  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h3 {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 4em;
}

h4 {
  width: 100%;
  margin: 3px 0 0 10px;
  color: #fff;
}

.bottom-info {
  width: 100%;
  height: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day-p {
  margin: 0 10px 0 10px;
  color: #fff;
}

/* --- hours section --- */

.hours-container {
  width: 88%;
  height: 80px;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;

  border-top: solid 0.5px #4887a2;
  border-bottom: solid 0.5px #4887a2;

  display: flex;
  align-items: center;
}

.hours-container::-webkit-scrollbar {
  width: 12px;
}

.hours-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.hours-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.hourly-container {
  height: 70px;
  width: 14%;
  margin-right: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hour-p {
  margin: 0;
  color: #4887a2;
  font-size: 1em;
}

h5 {
  width: 90px;
  color: #fff;
  text-align: center;
  font-size: 2em;

  margin: 10px 0 0;
}

/* --- The Week --- */

.week-container {
  width: 88%;
  margin: 24px auto 0;
  overflow: scroll;

  display: flex;
  align-items: center;
}

.week-container::-webkit-scrollbar {
  width: 12px;
}

.week-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.week-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.week-box {
  height: auto;

  border-radius: 5px;
  padding: 0 0 10px;
  margin-right: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.week-p {
  width: 90px;
  color: #fff;
  margin: 2px 0 0 3px;
}

/* --- dewpoint & humidity --- */

.dew-hum-container {
  width: 88%;
  margin: 25px auto;

  display: flex;
  justify-content: space-between;
}

.infoBox {
  width: 48%;
  height: 150px;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 1500px) {
  .main-container {
    width: 50%;

    margin: 0 auto;
  }

  .city-list {
    width: 40%;
    margin: 0 auto;
  }

  .city-list-input {
    width: 100%;
  }

  .city-list-button {
    width: 100%;
  }

  .city-list-button:hover {
    background: none;
    outline: 2px solid #f35b5b;
    outline-offset: -2px;

    transition: .3s all;
  }
}